
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.hero-section {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("/images/hero_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #045a04 !important;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;

  .nav-item {
    color: #fff;

    a {
      color: #eee;
      font-weight: 600 !important;
      transition: 0.15s ease !important;
      &:hover {
        opacity: 0.7
      }
    }


  }
}

.body-image {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("/images/hero_background.png");
  background-position: center;
  background-repeat: no-repeat;

}

.gradient-green {
  background: #17730a;
  background: linear-gradient(266deg,rgba(23, 115, 10, 0.7) 0%, rgba(13, 130, 40, 0.7) 71%);
}

.auth-form {

  color: #fff;
  backdrop-filter: blur(50px);
}


footer {
  background-color: #045a04 !important;
}

